button.position-absolute {
    right: 1rem;
    top: 1rem;
    z-index: 99;
}

nav {
    background-color: dimgrey;
    font-family: "Open Sans Condensed";
    font-weight: 300;
    font-size: 20px;
}

header h1 a.navbar-brand {
    margin-left: -15px;
    padding-top: 10px;
    margin-right: 5px;
}

header {
    background-color: darkkhaki;
    margin-bottom: 20px;
}

h1 {

    color: ghostwhite;
    font-family: "Josefin Sans";
    font-weight: 400;
    font-size: 45px;
    margin-top: -10px;

}

/* CSS for Contact Page */

form {
    padding-left: 1em;
    font-family: "Open Sans Condensed";
    font-weight: 300;
    color: white;
    padding-right: 100px;
}

main p {
    padding-left: 10px;
    font-style: italic;
    font-family: "Open Sans Condensed";
    font-weight: 600;
    font-size: 18px;
    color: white;
}

div input {
    margin-bottom: 10px;
}

/* End CSS for Contact Page */



footer {
    background-color: darkkhaki;
    font-family: "Open Sans Condensed";
    font-weight: 300;
}