* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,
a,
button {
    font-family: "Open Sans Condensed";
    font-weight: 500;
    font-size: 25px;
    color: whitesmoke;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: darkkhaki;
    height: 75px;
}

.nav_links {
    list-style: none;

}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    padding-top: 10px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

button {
    padding: 9px 25px;
    background-color: grey;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: slategrey;
}

h1 {

    color: ghostwhite;
    font-family: "Josefin Sans";
    font-weight: 400;
    font-size: 45px;
    margin-left: -100px;

}

main div p {
    font-size: 21px;
    font-family: "Josefin Sans";
    font-weight: 300;
}


footer {
    background-color: darkkhaki;
    font-family: "Open Sans Condensed";
    font-weight: 300;
    display: block;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    font-size: 20px;
    padding-top: -400px;
}

body {
    background-color: rgb(97, 97, 97);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100vh - 50px);
}

p {
    color: white;
}

/* CSS for Contact Page */

form {
    padding-left: 1em;
    font-family: "Open Sans Condensed";
    font-weight: 300;
    color: white;
    padding-right: 100px;
}

main p {
    padding-left: 10px;
    font-style: italic;
    font-family: "Open Sans Condensed";
    font-weight: 600;
    font-size: 18px;
    color: white;
    padding-top: 60px;
}

div input {
    margin-bottom: 10px;
}

/* End CSS for Contact Page */



footer {
    background-color: darkkhaki;
    font-family: "Open Sans Condensed";
    font-weight: 300;
    position: fixed;
    height: 60px;
}