button.position-absolute {
    right: 1rem;
    top: 1rem;
    z-index: 99;
}

nav {
    background-color: dimgrey;
    font-family: "Open Sans Condensed";
    font-weight: 300;
}

header h1 a.navbar-brand {
    margin-left: -15px;
    padding-top: 10px;
    margin-right: 5px;
}

header {
    background-color: darkkhaki;
    margin-bottom: 20px;
}

h1 {

    color: ghostwhite;
    font-family: "Josefin Sans";
    font-weight: 400;
    font-size: 45px;
    margin-top: -10px;

}

main {
    padding-top: 10px;
}

main div p {
    font-size: 20px;
    font-family: "Josefin Sans";
    font-weight: 300;
    margin-top: 8px;
    margin-left: 2px;
}


footer {
    background-color: darkkhaki;
    font-family: "Open Sans Condensed";
    font-weight: 300;
}

body {
    background-color: rgb(97, 97, 97);
    margin: 0px;
}

p {
    color: white;
}