* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,
a,
button {
    font-family: "Open Sans Condensed";
    font-weight: 500;
    font-size: 25px;
    color: whitesmoke;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: darkkhaki;
    height: 75px;
}

.nav_links {
    list-style: none;

}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    padding-top: 10px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

button {
    padding: 9px 25px;
    background-color: grey;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: slategrey;
}

h1 {

    color: ghostwhite;
    font-family: "Josefin Sans";
    font-weight: 400;
    font-size: 50px;
    margin-left: -120px;
    margin-top: 20px;
    ;

}

body {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
    margin: 8px;
    display: block;
    margin: 0;
    min-height: 100%;
    background-color: rgb(97, 97, 97);
    font-size: 14px;
    line-height: 20px;
    border-color: darkkhaki;
    border-style: solid;
}

main div {
    font-size: 20px;
    font-family: "Josefin Sans";
    font-weight: 300;
    margin-top: 8px;
    margin-left: 45px;
    margin-right: -35px;
}


footer {
    background-color: darkkhaki;
    font-family: "Open Sans Condensed";
    font-weight: 300;
    font-size: 15px;

}

div ul li {
    margin-left: 45px;
}



p.title {
    font-size: 42px;
    padding-top: 30px;
    margin-bottom: 10px;
    color: ghostwhite;
    font-family: "Josefin Sans";
}

main {
    margin-left: 20px;
    margin-right: -80px;
}

ul.servicelist {
    font-size: 30px;
    padding-top: 15px;
    color: ghostwhite;
    font-family: "Josefin Sans";
    font-weight: lighter;
    line-height: 48px;
}

.some-page-wrapper {
    margin: 15px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.footer-copyright text-center py-3 {
    align-content: center;
    font-size: 15px;
}